--- yaml
layout: 'default'
charset: 'utf-8'
title: 'Home'
---

.container.

.header
  img.responsive(src="https://s-media-cache-ak0.pinimg.com/564x/76/cc/7c/76cc7cf221c6afd6fdc9d89f6bec2a9f.jpg")

  .jumbotron
    h1 Welcome to Hovercraft!
    p: :markdown
      Hovercraft is a great tool for bla.
      
.description
  h2 Check out the amazing features:
  .row.vertical-align
    .col-md-8
        p Always on the topmost layer so there's no need to ever touch the mouse      
    .col-md-4
      img.responsive(src="https://pbs.twimg.com/profile_images/578073915693494273/Kvm9b-aX.jpeg")
  .row.vertical-align
    .col-md-4
      img.responsive(src="https://pbs.twimg.com/profile_images/469217937862037504/yd3-lohT.jpeg")
    .col-md-8
      p Customizable setting for pointer waiting times
  .row.vertical-align
    .col-md-8      
        p Special combo buttons clicking options such as double click or right-left click
    .col-md-4
      img.responsive(src="https://tyrannyoftradition.files.wordpress.com/2012/05/cutest-kitten-hat-ever-13727-1238540322-17.jpg")
  .row.vertical-align
    .col-md-4      
      img.responsive(src="http://aroundmypet.com/Content/blog/upload/image/150107-0407.jpg")  
    .col-md-8
      p Resizable window to your comfort
        
.github
  h2 Do you think this project is awesome?
  p Help us improve it by checking our <a href="https://github.com/shecodes-students/hovercraft" > Github</a>! We welcome pull-requests, comments and stars in our repo.
