--- yaml
layout: 'default'
charset: 'utf-8'
title: 'Home'
---

.container.

.header
  img.responsive(src="https://s-media-cache-ak0.pinimg.com/564x/76/cc/7c/76cc7cf221c6afd6fdc9d89f6bec2a9f.jpg")

  .jumbotron
    h1 Welcome to Hovercraft!
    p: :markdown
      Hovercraft is a great tool for bla.
      
.description
  h2 Here's how it works:
  .row
    .col-md-8
      p bla bla bla
    .col-md-4
      img.responsive(src="https://pbs.twimg.com/profile_images/578073915693494273/Kvm9b-aX.jpeg")
  .row
    .col-md-4
      img.responsive(src="https://pbs.twimg.com/profile_images/469217937862037504/yd3-lohT.jpeg")
    .col-md-8
      p bla bla bla
      
.github
  h2 Do you think this project is awesome?
  p Help us improve it by checking our Github! We welcome pull-requests, comments and stars in our repo. 
    a(href="https://github.com/shecodes-students/hovercraft")
      i.fa.fa-github.fa-2x
