@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')

.navbar-fixed-top
  background-color #5c5c3d

a, a:link
  cursor pointer

body
  padding-top 60px

  img
    border-radius: 6px
    text-align: center
    display: block
    margin: auto

  h2
    padding-top: 30px
    padding-bottom: 10px

  p
    font-size: 1.5em

  .header
    background-color: rgba(138, 144, 187, 0.42)
    margin: 0

  .jumbotron
    background-color: white

  .description
    background-color: #f8f8f8
    padding-left: 30px
    padding-bottom: 10px
    vertical-align: middle
    img
      max-width: 300px
    .vertical-align
      display: flex
      flex-direction: row

      .col-md-8
        display: flex
        align-items: center
        justify-content: center

  .github
    padding-left: 30px
    background-color: white
    padding-bottom: 10px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  background-color: #f8f8f8
  padding: 30px
  i
    font-size 1.5em
    padding: 10px
